<div class="col-md-6">
   <form [formGroup]="studentform" (ngSubmit)="Save(studentform.value)" >
            
       <div class="form-group">
          <label>Id</label>
          <input type="text" name="id"   class="form-control" formControlName="id" >       
       </div>

        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name"  class="form-control" formControlName="name" >          
       </div>

        <div class="form-group">
          <label>Address</label>
          <input type="text" name="address"   class="form-control" formControlName="address" >
       </div>  

       <button type="submit" class="btn btn-danger" > Save </button>

   </form>
</div>

<div class="col-md-6">
   
   <h5> Lists </h5>
  
    <table>
       <th>ID  </th>
       <th>Name  </th>
       <th>Address  </th>
       <th>Edit  </th>
       <th>Delete  </th>
      
        <tr *ngFor="let x of student">                  
           <td> {{ x.id }} </td>
           <td> {{ x.name }} </td>
           <td> {{ x.address }} </td>
           <td (click)="onEdit(x.id)"> Edit </td>
           <td (click)="onDelete(x.id)">  Delete </td>           
        </tr>

    </table>         
     
</div>



