.navbar{
  margin-bottom: 0px;
}

table{
  width:80%;
}

th{
  background-color: royalblue;
  color: white;
}

th,tr,td{
   padding: 10px;
   border: 1px solid gray;
}

tr:nth-child(2n) {
             background-color : lightgray;
}